{% extends 'plantilla.html' %}
{% load static %}

{% block contenido %}

{% if error and mensaje != None %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ mensaje }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error is not true and mensaje != None %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ mensaje }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">
    <div class="row g-0">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-2 col-sm-6 project position-relative">
                    <h3 class="text-center">Libro</h3>
                </div>
                <div class="col-lg-3 mt-5">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h3 class="me-5">Cantidad</h3>
                        </div>
                        <div class="col">
                            <h3 class="me-5">Total</h3>

                        </div>
                    </div>
                </div>
            </div>
            {% for libro in libros %}
            <div class="row">
                <div class="col-3 col-lg-2 col-sm-6 project position-relative">
                    <a href="{% url 'descripcionLibro' libro.id_libro %}">
                        <img class="img-fluid position-relative" src="{{ libro.libro.imagen }}" alt="">
                    </a>
                </div>

                <div class="col-lg-3">
                    <h6>{{ libro.libro.titulo }}</h6>
                    <h6>{{ libro.libro.autor }}</h6>
                    <h6>${{ libro.libro.valor }}</h6>
                </div>
                <div class="col">
                    <form action="{% url 'actualizar' %}" class="form-inline" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <button type="submit" class="btn btn-primary col-2"
                                onclick="decrementar('{{ libro.id_libro }}')">-</button>
                            <input type="hidden" value="{{libro.id_libro}}" name="id_libro">
                            <input type="text" class="mx-4 col-lg-2 col-3" id="{{ libro.id_libro }}" readonly
                                value="{{ libro.cantidad }}" name="cantidad">
                            <button type="submit" href="{% url 'actualizar' %}" class="btn btn-primary col-2"
                                onclick="incrementar('{{ libro.id_libro }}')">+</button>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <h6 class="me-5">${{ libro.subtotal }}</h6>
                </div>
                <div class="col-2">
                    <a href="{% url 'eliminarArticulo' libro.id_libro %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash3" viewBox="0 0 16 16">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg>
                    </a>
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        <div class="col">
            <h1>total</h1>
            <h4 id="total" class="bg-warning">$ {{ total }}</h4>
            <a href="{% url 'realizarCompra' %}" class="btn btn-primary">Pagar</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'carro.js' %}"></script>
{% endblock %}